                                .gifsection {
/*                                 background: transparent; */
/*                                 background-size: center/cover; */
                                width: 100vw;
                                height: 100vh;
                                /* background-position-y: -100px; */
                            }
                            
                            #invert {
                                padding-left: 0px;
                                margin: 0px;
                                width: 100vw;
                                margin-left: -200px;
                                margin-top: -100px;
                                padding-bottom: 340px;
                            }
                            
                            .mainname1 {
                                margin-left: 150px;
                                margin-top: 100px;
                            }
                            
                            .mainname2 {
                                margin-left: 150px;
                            }
                            
                            .mainname3 h1 {
                                font-size: 24px;
                            }
                            
                            #myVideo {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                min-width: 100%;
                                min-height: 100%;
                            }
                            
                            #myVideo2 {
                                position: absolute;
                                right: 0;
                                /* left: 0; */
                                bottom: 0;
                                top: 700px;
                                min-width: 100%;
                                /* min-height: 10%; */
                            }
                            
                            .section.full-width-project-img {
                                height: 700px;
                                min-height: 70vh;
                                background: #f8f8f8;
                                /* background-position: 50% 50%; */
                                /* background-size: cover; */
                            }
                            
                            .project-details {
                                position: relative;
                            }
                            
                            @media only screen and (max-width: 450px) {
                                #myVideo2 {
                                    top: 350px;
                                }
                            }
                            
                            .right {
                                right: 2%;
                            }
                            
                            @media screen and (max-width: 479px) {
                                .right {
                                    right: 4%;
                                }
                                .nav-menu-grid {
                                    right: -105%;
                                    bottom: 25.3vh;
                                }
                                @media screen and (max-width: 991px) {
                                    .nav-menu-grid {
                                        right: -85%;
                                    }
                                }
                                @media only screen and (max-width: 480px) {
                                    .menumain {
                                        right: -140px;
                                    }
                                }
